<% extend('layout') %>

<h1><%= article.title%></h1>
<h5>Written By <%= article.author%></h5>
<p> <%= article.body%></p>

<a class="btn btn-default" href="/article/edit/<%= article._id%>">Edit</a>

<a class="btn btn-danger delete-article" href="javascript:;" data-id="<%= article._id%>">Delete</a>
